*
{
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #F9FAFB;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    /*#FF443C*/
}

body
{
    background-color: #111827;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    align-items: center;
    
}

header
{
    display: flex;
    align-items: center !important;
    justify-content: center;
    border-bottom: 5px solid #F9FAFB;
    width: 100% !important;
}

header h1
{
    font-size: 80px;
    padding:20px;
    
}

main
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1E3A5F;
    width: 80%;
    height: 60%;
    border-radius: 40px;
}

main button
{
    font-size: 80px;
    font-size: 700;
    padding: 20px 100px;
    background-color:  #60A5FA;
    border-radius: 15px;
    color: #F59E0B;
    letter-spacing: 30px;
}

main button:hover
{
    background-color: #F59E0B;
    color: #F9FAFB;
    transition: 0.3s;
}

main button:active
{
    background-color: #9CA3AF;
}

footer
{
    text-align: center;
    width: 100% !important;
    border-top: 5px solid #F9FAFB;
    
}

footer p
{
    padding: 25px;
    font-size: 38px;
    color: #9CA3AF;
}